<div class="portfolio-page-header__author">
  <div class="portfolio-page-header__author-photo">
    <img src="{{view.authorPhoto}}" alt="Photo of {{view.authorName}}">
  </div>
  <div  class="portfolio-page-header__author-name">
    <h1>{{view.authorName}}</h1>
  </div>
</div>
<div class="portfolio-page-header__icon">
  <span class="{{view.icon}}"></span>
</div>