<h2>About</h2>

<p>This website is a Single Page Application built with Backbone Torso. The source code can be found on <a href="https://github.com/beiyi0207/portfolio" class="brec-link">GitHub</a>. </p>