<h2>Bio</h2>

<p>I'm a UI &amp; UX Designer and Engineer. As the synthesis of design and development, I take the most innovative product concepts and bring them to life in an effort to push the boundaries of user interface design.</p>