/////// Responsive Settings ///////////////////

// Screen Sizes
$medium-screen-width: 600px !default;
$medium-screen-landscape-width: 900px !default;
$large-screen-width: 1200px !default;
$extra-large-screen-width: 1800px !default;

$small-screen-landscape-height: 414px;

// Default Layout
$default-page-header-height: 45px !default;
$default-main-nav-width: 250px !default;
$gutter-width: 50px !default;

// Medium Screen Layout
$medium-aside-width: 450px !default;

// Large Screen Layout
$large-page-header-height: 150px !default;
$large-main-nav-height: 50px !default;
$large-page-footer-min-height: 50px !default;

$large-main-width: 70% !default;
$large-aside-width: 30% !default;