/**
 *
 * portfolio-component-nav.scss
 *
 * Author: Beiyi Wu, beiyi.wu@vecna.com
 *
 * This file defines the style of the main nav
 *
 *
 */

.portfolio-main-nav {
  z-index: 200;
  position: fixed;
  bottom: 15px;
  right: 22.5px;
  text-align: right;
}

.portfolio-main-nav--splash {
  position: relative;
  bottom: initial;
  right: initial;
}

@media screen and (max-height: $small-screen-landscape-height)  {
  .portfolio-main-nav--splash {
    margin-bottom: 25px;
  }
}




.portfolio-main-nav__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $main-nav-active-background;
  opacity: 0.5;
  z-index: -20;
}




.portfolio-main-nav__toggle {
  font-size: 0.9em;
  color: $portfolio-button-color;
  background: $portfolio-button-background;
  box-shadow: 2px 2px 5px #999;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  @include prefixer(border-radius, 50%, ("webkit", "moz"));
  z-index: 20;
}




.portfolio-main-nav__list {
  list-style: none;
  padding: 0;
  z-index: 20;
  @include flexbox;
  @include flex-direction($value: column-reverse);
  @include justify-content($value: center);
}

@media screen and (max-height: $small-screen-landscape-height)  {
  .portfolio-main-nav__list {
    @include flex-direction($value: row-reverse);
    position: fixed;
    right: 85px;
    bottom: 10px;
    margin: 0;
  }
}

.portfolio-main-nav__list--splash {
  @include flex-direction($value: row);
  position: initial;
  right: initial;
  bottom: initial;
  margin: 0;
}




.portfolio-main-nav__item {
  margin: 10px 0 10px 9px;
}

@media screen and (max-height: $small-screen-landscape-height)  {
  .portfolio-main-nav__item {
    margin: 10px;
  }
}

.portfolio-main-nav__item--splash {
  margin: 0 10px;
  width: 55px;
}




.portfolio-main-nav__link {
  @include flexbox;
  @include flex-direction($value: row-reverse);
  @include align-items($value: center);
}

.portfolio-main-nav__link--splash {
  @include flex-direction($value: column);
}




.portfolio-main-nav__icon {
  width: 35px;
  height: 35px;
  background: $portfolio-icon-background;
  @include prefixer(border-radius, 50%, ("webkit", "moz"));
  @include flexbox;
  @include align-items($value: center);
  @include justify-content($value: center);
  box-shadow: 2px 2px 5px #999;

  & span {
    color: $portfolio-icon-color;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
  }
}

.portfolio-main-nav__icon--splash {
  width: 45px;
  height: 45px;

  & span {
    font-size: 1em;
    padding-top: 14px;
  }
}




.portfolio-main-nav__label {
  background: #fff;
  box-shadow: 2px 2px 5px #999;
  @include prefixer(border-radius, 5px, ("webkit", "moz"));
  color: $portfolio-default-color;
  font-size: 0.9em;
  line-height: 2;
  text-align: right;
  padding: 0 8px;
  margin: 0 8px;
}

@media screen and (max-height: $small-screen-landscape-height)  {
  .portfolio-main-nav__label {
    display: none;
  }
}

.portfolio-main-nav__label--splash {
  display: block;
  color: $portfolio-splash-screen-color;
  background: none;
  box-shadow: none;
  text-align: center;
  padding: 0;
}