/////// Color Settings ///////////////////

// default color
$portfolio-default-background: #efeedf;
$portfolio-default-color: #1c3839;

// default headings
$portfolio-h1-color: #122425;
$portfolio-h2-color: #3a7678;

// Splash screen
$portfolio-splash-screen-background: #d0dfd3;
$portfolio-splash-screen-color: #122425;

// Page header
$portfolio-page-header-background: #b8ddcd;
$portfolio-page-header-color: #122425;

// Page content
$portfolio-page-content-background: #fff;
$portfolio-page-content-color: #1c3839;

// Main Nav
$main-nav-active-background: #b0a392;

// Page footer
$portfolio-page-footer-background: #84c0c0;
$portfolio-page-footer-color: #122425;

// icon
$portfolio-icon-background: #dd5a4e;
$portfolio-icon-color: #fff;

// button
$portfolio-button-background: #ead0ae;
$portfolio-button-color: #774f38;
